
#menu {
	background: #f9bc00;
	width: auto;
 
}

h1{color: #ffffff;
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
	 font-size: 20px;	
}
h2{color: #ffffff;
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
	 font-size: 14px;	
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#menu.align-right ul li {
  float: right;
}
#menu.align-center ul {
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 6px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
a:hover {
  color: #333333;
}

a:hover:before {
  width: 100%;
}

/*a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 14px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}*/

a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
li.last > a:after,
li:last-child > a:after {
  display: none;
}
li.active a {
  color: #333333;
}
li.active a:before {
  width: 100%;
}
#menu.align-right li.last > a:after,
#menu.align-right li:last-child > a:after {
  display: block;
}
#menu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
li {
    float: none;
    display: block;
  }
a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #FFCC00;
  }
li.last > a,
li:last-child > a {
    border: 0;
  }
a:after {
    display: none;
  }
a:before {
    display: none;
  }
}
